@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    /* BODY */
    body{
        @apply bg-gray-100;
    }

    /* NAVBAR */
    .sticky {
        @apply fixed w-full top-0 z-10;
    }

    .sticky + .content {
        @apply pt-9;
    }

    .bg-light{
        @apply bg-gray-200;
    }
    .navbar-expand-md{
        @apply md:flex-nowrap;
    }
    .navbar{
        @apply relative flex text-center right-0 pl-1;
    }

    .collapse{
        @apply hidden;
    }

    /* .navbar-collapse {
        @apply basis-full grow;
    } */

    /* Forms */
    .btn-primary {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 flex ;
    }

    .input-group{
        @apply flex relative flex-nowrap border-none relative items-stretch w-full mb-4;
    }
    
    .input-div{
        @apply relative items-stretch w-full flex-nowrap border-none;
    }

    .icon-group{
        @apply flex leading-6 text-center mb-6 bg-icon-group border-none h-12 p-2 rounded-l-lg text-white;
    }

    .input-text{
        @apply box-border p-3 w-2/3 leading-6 text-justify my-3 border rounded flex w-full;
    }

    /* Tabs */
    .tab-content{
        @apply px-4 py-5 flex-auto relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-b-lg;
    }

    .tab-list{
        @apply flex mb-0 list-none flex-wrap pt-3 flex-row;
    }

    .tab-list-item{
        @apply -mb-px mr-2 last:mr-0 flex-auto text-center;
    }

    /* Lists */
    .card{
        @apply bg-white hover:bg-gray-100 shadow-xl cursor-pointer w-80 rounded-lg flex flex-col transition-all transform-gpu translate-y-0 hover:-translate-y-3 duration-500 ease-in-out;
    }

    .btn-download{
        @apply h-10 bg-blue-400 flex items-center justify-center text-xl hover:bg-blue-500 text-white rounded-2xl shadow-xl transform-gpu translate-y-0 hover:-translate-y-1 transition-all duration-300 ease-in-out;
    }

    .signersIcon{
        @apply h-64 w-64 flex justify-center items-center;
    }
}