@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .btn-primary {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .navbar-toggle {
        @apply relative w-8 h-12 border-none cursor-pointer outline-none bg-none mr-2.5;
    }
    .navbar-toggle-span {
        @apply w-full h-1.5 bg-toggle-span block absolute left-0 transition-all origin-center;
    }
    .navbar-toggle-span-1{
      top: 10px;
    }
    .navbar-toggle-span-2{
        top: 22.5px;
    }
    .navbar-toggle-span-3{
    top: 35px;
    }
    .navbar-toggle.is-open-span-1{
        top: 22.5px;
        transform: rotate(405deg);
        border-radius: 45px;
        background: rgb(224, 2, 2);
    }
  } */
  
@layer utilities{

    /* BODY */
    body{
        min-width: 300px
    }

    /* NAVBAR */
    button.navbar-toggle {
        position: relative;
        width: 30px;
        height: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
        margin-right: 10px;
    }
      
    button.navbar-toggle span {
        width: 100%;
        height: 5px;
        background: #0077b6;
        display: block;
        position: absolute;
        left: 0;
        transition: 0.5s;
        transform-origin: center center;
    }
      
    button.navbar-toggle span:nth-child(1) {
        top: 10px;
    }
      
    button.navbar-toggle span:nth-child(2) {
        top: 22.5px;
    }
      
    button.navbar-toggle span:nth-child(3) {
        top: 35px;
    }
      
    button.navbar-toggle.is-open span:nth-child(1) {
        top: 22.5px;
        transform: rotate(405deg);
        border-radius: 45px;
        background: rgb(224, 2, 2);
    }
      
    button.navbar-toggle.is-open span:nth-child(2) {
        border-radius: 45px;
        background: rgb(224, 2, 2);
        width: 0px
    }
      
    button.navbar-toggle.is-open span:nth-child(3) {
        border-radius: 45px;
        background: rgb(224, 2, 2);
        top: 22.5px;
        transform: rotate(-405deg);
    }

    /* Forms */
    select{
        border: 1.5px solid rgb(185, 184, 184);
        /* margin-left: 1px !important; */
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    }
}
  